@layer utilities {
  .wave {
      animation-name: wave-animation;
      /* Refers to the name of your @keyframes element below */
      animation-duration: 1.5s;
      /* Change to speed up or slow down */
      animation-iteration-count: infinite;
      /* Never stop waving :) */
      transform-origin: 70% 70%;
      /* Pivot around the bottom-left palm */
      display: inline-block;
    }
  
    @keyframes wave-animation {
      0% {
        transform: rotate(0.0deg)
      }
  
      10% {
        transform: rotate(14.0deg)
      }
  
      /* The following five values can be played with to make the waving more or less extreme */
      20% {
        transform: rotate(-8.0deg)
      }
  
      30% {
        transform: rotate(14.0deg)
      }
  
      40% {
        transform: rotate(-4.0deg)
      }
  
      50% {
        transform: rotate(10.0deg)
      }
  
      60% {
        transform: rotate(0.0deg)
      }
  
      /* Reset for the last half to pause */
      100% {
        transform: rotate(0.0deg)
      }
    }
  
    .svg-text {
      letter-spacing: 5px;
      line-height: 16px;
      text-transform: uppercase;
      font-size: 14px;
      fill: #156FAA;
    }
  
    #rotatingText {
      animation-name: rotate-circle;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  
    @keyframes rotate-circle {
      to {
        transform: rotate(1turn);
      }
    }
}