@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@import "base/_typography.css";
@import "base/_gradients.css";
@import "components/_utils.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}